{% extends "base.html" %}
{% block title %}Clientes{% endblock %}
{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Tipo de Documento</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Celular</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>/index.html</td>
            <td>1265</td>
            <td>32.3%</td>
            <td>$321.33</td>
            <td>1265</td>
            <td>32.3%</td>
        </tr>
    </tbody>
</table>
{% endblock %}
