{% extends "base.html" %}
{% block title %}
{% if product %}Editar Factura{% else %}Agregar Factura{% endif %}{% endblock %}
{% block title-page %}{% if product %}Editar Factura{% else %}Agregar Factura{% endif %}{% endblock %}
{% block title-panel %}{% if product %}Editar Factura{% else %}Agregar Factura{% endif %}{% endblock %}
{% block content %}
              <form role="form" id="form_invoice">
                <div class="form-group">
                  <label>Número</label>
                  <input type="number" name="number" class="form-control" required>
                </div>
                <div class="form-group">
                  <label>Cliente</label>
                  <select id="select_client" name="client" class="form-control" required></select>
                </div>
                <button class="btn btn-default" onclick="saveInvoice()">Guardar</button>
              </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Agregar Producto</h3>
            </div>
            <div class="panel-body">
              <form role="form" method="post" action="/invoice/save_invoice/">
                <div class="form-group">
                  <label>Producto</label>
                  <select id="select_product" class="form-control"></select>
                </div>
                <div class="form-group">
                  <label>Cantidad</label>
                  <input type="number" name="number" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-default">Guardar</button>
                <button type="reset" class="btn btn-default">Borrar</button>
              </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Productos</h3>
            </div>
            <div class="panel-body">
              <table id="table_id" class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>Número</th>
                          <th>Fecha de Creación</th>
                          <th>Valor Total</th>
                          <th>IVA</th>
                          <th>Retefuente</th>
                          <th>Cliente</th>
                          <th>Identificación</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
              </table>
              <div class="text-right">
                  <a href="/invoice/list_invoices/"><span class="fa fa-arrow-circle-left"></span> Volver</a>
              </div>
<script>
$(document).ready( function () {
  $('#select_client').select2({
    ajax: {
      url: "/invoice/suggestions_client/",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          search_text: params.term
        };
      },
      processResults: function (data, params) {
        return {
          results: data.clients,
        };
      },
      cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1,
    templateResult: format,
    templateSelection: format
  });

  $('#select_product').select2({
    ajax: {
      url: "/invoice/suggestions_product/",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          search_text: params.term
        };
      },
      processResults: function (data, params) {
        return {
          results: data.products,
        };
      },
      cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1,
    templateResult: format,
    templateSelection: format
  });
});

function saveInvoice(){
  var form = $('#form_invoice')
  form.validate();
  if(form.valid()){
    $.ajax({
      url: '/invoice/save_invoice/',
      method: 'POST',
      data: form.serialize(),
      success: function (response){
        console.log(response);
      },
      error: function(response){
        console.log(error);
      }
    });
  }
}

function format(element){
  if (!element.id) {
    return element.text;
  } else {
    return element.name;
  }
}
</script>
{% endblock %}
