{% extends "base.html" %}
{% block title %}
{% if product %}Editar Factura{% else %}Agregar Factura{% endif %}{% endblock %}
{% block title-page %}{% if product %}Editar Factura{% else %}Agregar Factura{% endif %}{% endblock %}
{% block title-panel %}{% if product %}Editar Factura{% else %}Agregar Factura{% endif %}{% endblock %}
{% block content %}
<form role="form">
  <div class="form-group">
    <label>Cliente</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Producto</label>
    <select id="select_product" class="form-control">
    </div>
</form>
<script>
$(document).ready( function () {
    $('#select_product').select2({
    ajax: {
      url: "/invoice/suggestions_product/",
      dataType: 'json',
      delay: 250,
      data: function (params) {
        return {
          search_text: params.term
        };
      },
      processResults: function (data, params) {
        return {
          results: data.products,
        };
      },
      cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1,
    templateResult: formatProduct,
    templateSelection: formatProduct
  });
});

function formatProduct(product){
  if (!product.id) {
    return product.text;
  } else {
    return product.name;
  }
}
</script>
{% endblock %}
