{% extends "base.html" %}
{% block title %}Facturas{% endblock %}
{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Fecha de Creación</th>
            <th>Valor Total</th>
            <th>IVA</th>
            <th>Retefuente</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>/index.html</td>
            <td>1265</td>
            <td>32.3%</td>
            <td>$321.33</td>
            <td>32.3%</td>
            <td>$321.33</td>
        </tr>
    </tbody>
</table>
{% endblock %}
