{% extends "base.html" %}
{% block title %}Productos{% endblock %}
{% block title-page %}Productos{% endblock %}
{% block title-panel %}Productos{% endblock %}
{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Presentación</th>
            <th>Valor</th>
            <th>IVA</th>
        </tr>
    </thead>
    <tbody>
      {% if products %}
        {% for product in products %}
          <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.packing }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.iva }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
</table>
<div class="text-right">
    <a href="#">Agregar Producto <i class="fa fa-arrow-circle-right"></i></a>
</div>
{% endblock %}
