{% extends "base.html" %}
{% block title %}Agregar Producto{% endblock %}
{% block content %}
<form role="form">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Presentación</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Valor</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>IVA</label>
        <input type="text" class="form-control">
    </div>
</form>
{% endblock %}
